.attribution {
  font-size: 11px;
  text-align: center;
  color: hsl(228, 45%, 44%);
}
.QR {
  color: blue;
  background: url(./images/image-qr-code.png), no-repeat;
  background-size: 576px 576px;
}
